<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.mapper.CollectorMapper" >
  <resultMap id="BaseResultMap" type="com.im.pojo.Collector" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="collectorID" property="collectorid" jdbcType="VARCHAR" />
    <result column="fsuID" property="fsuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="baud" property="baud" jdbcType="INTEGER" />
    <result column="freq" property="freq" jdbcType="INTEGER" />
    <result column="ranges" property="ranges" jdbcType="INTEGER" />
    <result column="HBFreq" property="hbfreq" jdbcType="INTEGER" />
    <result column="HBTime" property="hbtime" jdbcType="TIMESTAMP" />
    <result column="setupCode" property="setupcode" jdbcType="VARCHAR" />
    <result column="srvIP" property="srvip" jdbcType="VARCHAR" />
    <result column="srvPort" property="srvport" jdbcType="INTEGER" />
    <result column="faultState" property="faultstate" jdbcType="INTEGER" />
    <result column="faultTime" property="faulttime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>