<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.mapper.ConditionsMapper" >
  <resultMap id="BaseResultMap" type="com.im.pojo.Conditions" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="conditionsID" property="conditionsid" jdbcType="VARCHAR" />
    <result column="automationID" property="automationid" jdbcType="VARCHAR" />
    <result column="signalsTypeID" property="signalstypeid" jdbcType="VARCHAR" />
    <result column="threshold" property="threshold" jdbcType="VARCHAR" />
  </resultMap>
</mapper>