<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.im.mapper.SwitchParamMapper" >
  <resultMap id="BaseResultMap" type="com.im.pojo.SwitchParam" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="switchID" property="switchid" jdbcType="VARCHAR" />
    <result column="paramID" property="paramid" jdbcType="INTEGER" />
    <result column="paramValue" property="paramvalue" jdbcType="VARCHAR" />
    <result column="genTime" property="gentime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="returnTime" property="returntime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>